<footer id="footer" class="footer">
  <div class="wrapper_footer">
    <div class="container">
      <div class="footer-inner">
        <div class="footer-inner_item">
          <img src="../../assets/footer/logo.svg" alt="">
          <p>Some food has looked so awful that <br> it's looked like something that the <br> dog's brought home.</p>
          <h3>Fllow Us</h3>
          <div class="img_link">
            <img src="../../assets/footer/facebook.png" alt="">
            <img src="../../assets/footer/twitter.png" alt="">
            <img src="../../assets/footer/instagram.png" alt="">
            <img src="../../assets/footer/linkedin.png" alt="">
          </div>
        </div>
        <div class="footer_home">
          <nav>
            <ul>
              <li>
                <p>Home</p>
              </li>
              <li><a href="#product">Product</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </nav>
        </div>
        <div class="footer_delivery">
          <nav>
            <ul>
              <li><a href="#">Delivery Information</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms & Condition</a></li>
              <li><a href="#">Search Terms</a></li>
              <li><a href="#">Order & Return</a></li>
            </ul>
          </nav>
        </div>
        <div class="footer_news">
          <h3>Newsletter</h3>
          <div class="input-container">
            <input type="email" placeholder="Your Email">
            <button>Subscribe</button>
          </div>
          <div class="pay">
            <img src="../../assets/footer/pay.svg" alt="">
            <img src="../../assets/footer/master.svg" alt="">
            <img src="../../assets/footer/visa.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>