<header class="header">
  <div class="wrapper">
    <div class="container">
      <div class="header_inner">
        <img src="../../../assets/images-removebg-preview 1.svg" alt="">
        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#product">Product</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </nav>
        <button class="btn"><a href="">Buy Now</a></button>
      </div>
    </div>
  </div>
  <div class="header_content">
    <div class="wrapper">
      <div class="container">
        <div class="header_text">
          <p class="text-inner">Sweet fun, full of milk.</p>
          <p class="text-item">Feel inside cold with our delicious <span>ice-cream.</span> </p>
          <p class="text-bottom">Some food has looked so awful that it's looked like something that the dog's brought
            home, yet after one mouthful I've
            been left eating my thoughts, my words.</p>
          <button class="btn"><a href="#">Buy Now</a></button>
        </div>
      </div>
    </div>
  </div>
</header>