.sugar-inner {
  padding: 145px 0;
}

.sugar-inner {
  background-image: url('../../../assets/ice cream.svg');
  background-repeat: no-repeat;
  background-position: center right -11%;
}

.sugar-inner h3 {
  font-weight: 600;
  font-size: 44px;
  font-family: "Hind Madurai", sans-serif;
  line-height: 110.5%;
  width: 349px;
}

.sugar-inner p {
  padding-top: 16px;
  width: 442px;
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  opacity: 0.6;
}

.sugar-inner .btn {
  margin-top: 35px;
  padding: 15px 42px;
  border-radius: 5px;
  border: 0;
  background-color: #D64374;
  cursor: pointer;
}

.sugar-inner .btn a {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}