<section id="product" class="product">
  <div class="container">
    <div class="product_header">
      <p>Our Product</p>
      <nav>
        <ul>
          <li><a href="">ICE CREAM</a></li>
          <li><a href="">CAYENNE CHOCOLATE</a></li>
          <li><a href="">CAKE BATTER</a></li>
          <li><a href="">CANDY CANE</a></li>
          <li><a href="">PLATTERS</a></li>
          <li><a href="">DESSERT</a></li>
        </ul>
      </nav>
    </div>
    <div class="product_content">
      <div class="product-inner">
        <h3>Brown bread</h3>
        <p>
          Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food
          scene.Bon Au
          Pain is a pioneer in the healthy fast food scene.
        </p>
        <div class="price-container">
          <span class="price current-price">$19.55</span>
          <span class="price old-price">$22.55</span>
        </div>
        <button class="btn"><a href="">Buy Now</a></button>
      </div>
    </div>
    <div class="content_about">
      <div class="product-inner">
        <h3>Cayenne chocolate</h3>
        <p>
          Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food
          scene.Bon
          Au
          Pain is a pioneer in the healthy fast food scene.
        </p>
        <div class="price-container">
          <span class="price current-price">$19.55</span>
          <span class="price old-price">$22.55</span>
        </div>
        <button class="btn"><a href="">Buy Now</a></button>
      </div>
    </div>
    <div class="content_bottom">
      <div class="product-inner">
        <h3>Sweet corn</h3>
        <p>
          Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food
          scene.Bon
          Au
          Pain is a pioneer in the healthy fast food scene.
        </p>
        <div class="price-container">
          <span class="price current-price">$19.55</span>
          <span class="price old-price">$22.55</span>
        </div>
        <button class="btn"><a href="">Buy Now</a></button>
      </div>
    </div>
    <div class="about_bottom">
      <div class="about_item">
        <img src="../../assets/girl.svg" alt="">
        <div class="text-container">
          <h3>Adele A. McNeill</h3>
          <p>AMIRICAN</p>
        </div>
      </div>
      <div class="about_item-text">
        <div class="about_quotes">
          <img class="quotes-left" src="../../assets/quotes.svg" alt="">
          <p>Thanks a lot for the prompt service. Really appreciate. Excellence taste in Every Bite.Add a joy of best
            Taste. Foodie
            Moments.</p>
          <img class="quotes-right" src="../../assets/quotes-bottom.svg" alt="">
        </div>
      </div>
      <div class="slider">
        <div><img src="../../assets/slider/left-arrow.svg" alt=""></div>
        <div><img src="../../assets/slider/man.svg" alt="Image 1"></div>
        <div><img src="../../assets/slider/2.svg" alt="Image 2"></div>
        <div><img src="../../assets/slider/3.svg" alt="Image 3"></div>
        <div><img src="../../assets/slider/right-arrow.svg" alt=""></div>
      </div>
    </div>
  </div>
</section>